/*** Style pour la modale ***/
.modal {
  display: none; /* Masque la modale par défaut */
  position: fixed; /* Positionnement fixe pour la superposer à la page */
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Style pour le contenu de la modale */
.modal-content {
  background-color: #e40707;
  margin: 10% auto; /* Centre la modale verticalement */
  padding: 20px;
  border-radius: 5px;
  width: 60%; /* Largeur de la modale */
  position: relative;
}

/* Style pour le bouton de fermeture (X) */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
