/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
/** rajout style bouton logout **/
.logout {
  background-color: transparent;
  border-style: none;
  font-size: 16.8px;
  cursor: pointer;
}
li:hover {
  color: #b1663c;
}
/*** Ajout gras au lien de la page login qd le lien est cliqué**/
nav a:hover {
  color: #b1663c;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:focus {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/** fin lien page login**/
/***integration page login  ***/
#login h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*#login label {
  margin-bottom: 10px;
  margin-top: 5px;
}*/
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu de chaque paire label-input */
  margin-bottom: 20px;
  width: 379px;
}
.input-container label {
  align-self: flex-start;
  margin-bottom: 15px;
}
#email,
#motdepasse {
  padding: 10px 5px;
  border: none;
  box-shadow: 0px 3px 10px gainsboro;
  /* margin-bottom: 20px;*/
  width: 379px;
  height: 51px;
}
input#submit-login[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0px 5px 0px gainsboro;
  width: 179px;
  height: 36px;
}
/**fin page login**/

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction div {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
/** Ajout boutons de filtres**/
.filtres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.filtres button,
.btnModifier {
  border-radius: 20px;
  border-color: #1d6154;
  border-width: 1px;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  color: #1d6154;
  padding: 5px 10px;
  margin: 5px;
}

.filtres button:hover,
.filtres button.active,
.btnModifier {
  background-color: #1d6154;
  color: white;
}

#portfolio h2 {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 550px;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 51px;
  width: 379px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin: auto;
}

#contact label {
  margin: 2em 0 1em 0;
  padding-left: 95px;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 379px;
  margin: auto;
}

input#submit-contact[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0px 5px 0px gainsboro;
  width: 179px;
  height: 36px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/**pour la page d'accueil en mode édition
/* Styles pour la barre noire */
.black-bar {
  justify-content: center;
  background-color: black;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

/* Styles pour l'icône Font Awesome sur la barre noire */
.fa-regular.fa-edit {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 450px;
}

/* Styles pour le bouton "Mode édition" */
.edit-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin-right: 400px;
}
/* Styles pour le bouton "Modifier" */
.modifier-button {
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Styles pour l'icône Font Awesome à gauche du bouton modifier */
#portfolio .fa-regular.fa-edit {
  margin-left: 30px;
  color: black;
}

/*** Style pour la 1ère modale ***/
#modal {
  display: none; /* Masque la modale par défaut */
  position: fixed; /* Positionnement fixe pour la superposer à la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Style pour le contenu de la 1ère modale */
.modal-content {
  background-color: white;
  margin: 10% auto; /* Centre la modale verticalement */
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Largeur de la modale */
  max-height: 80%;
  position: relative;
}
.galerie-photo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
h3 {
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}
/* Style pour le bouton de fermeture (X) */
.close,
.closePhoto {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.btnModifier {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 30px;
  /*box-shadow: (0, 0, 0.1);*/
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/**style sur  projets dans 1ere modale**/
.projets-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  gap: 9px;
  max-width: 440px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.projet-modal {
  width: 76px;
  /* height: 102px;*/
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.projets-modal img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*** suppression du style du bouton "editbutton" car dans la nouvelle version du projet cela n'est plus demandé
.button,
.editbutton {
  background-color: transparent;
  font-size: 12px;
  border: none;
}***/

.trash-icon {
  position: absolute;
  top: 6px;
  right: 5px;
  color: white;
  height: 14px;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.line-bar {
  height: 1px;
  background-color: #b3b3b3;
  margin: 0 76px 0 76px;
}
/***style pour bouton "Ajouter une photo" dans 1ère modale***/
.add-new-projet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne";
  font-weight: bold;
  color: white;
  background-color: #1d6154;
  margin: 10px auto;
  width: 200px;
  text-align: center;
  border-radius: 60px;
  box-shadow: 0px 5px 0px gainsboro;
  height: 36px;
}
/****Styles pour 2ème Modale pour ajout photo****/
.modal-content-ajout-photo {
  background-color: white;
  margin: 10% auto; /* Centre la modale verticalement */
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  max-height: 80%;
  position: relative;
}

/*style pour backArrow*/
.back-arrow {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 21px;
  height: 21px;
  font-size: 1.5em;
  cursor: pointer;
}

#modal-ajout-photo form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#modal-ajout-photo,
input#submit {
  display: none; /* Masque la modale par défaut */
  position: fixed; /* Positionnement fixe pour la superposer à la page */
  background-color: #a7a7a7;
  box-shadow: 0px 5px 0px gainsboro;
  border: 1px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

#modal-ajout-photo {
  display: none;
}
h3 {
  text-align: center;
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/*.ajout-newPhotoProjet {
  display: flex;
  position: relative;
  margin: auto;
  background-color: #e8f1f6;
  border-radius: 3px;
  /* height: 169px;
  width: 420px;
  max-width: 100%;
}*/

#imagePreview {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/*.cadre-photo .fa-regular.fa-image,
.cadre-photo #uploadButton,
.cadre-photo .detailsImg {
  display: none;
}*/
/*.ajout-newPhotoProjet p {
  margin-top: 150px;
  margin-left: 160px;
  font-size: 10px;
}*/
input[type="text" i],
#inputtitle,
#categorie {
  width: 420px;
  height: 51px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.2);
}
.fa-regular.fa-image {
  opacity: 0.2;
  width: 76px;
  font-size: 76px;
  margin-bottom: 10px;
}
.cadre-photo {
  display: flex;
  background-color: #e8f1f6;
  border-radius: 3px;
  height: 169px;
  width: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

#uploadButton {
  background-color: #cbd6dc;
  font-size: 14px;
  color: #306685;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  border: none;
  margin-bottom: 10px;
}
.detailsImg {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
.line-bar-ajout-photo {
  height: 1px;
  width: 420px;
  margin-top: 30px;
  background-color: #a7a7a7;
}
input#ajout-submit {
  background-color: #a7a7a7;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  border-style: none;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

/*#ajout-submit .valider-button-disabled*/
#ajout-submit.valider-button-disabled {
  background-color: #a7a7a7;
  color: white;
}

#ajout-submit.valider-button-enabled {
  background-color: #1d6154;
  color: white;
}
